
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.header-mes{
	max-width: 1400px;
	width: 90%;
	margin: auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	font-family: 'Fredericka the Great', cursive;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 1em;
}

.header-mes > .logo{
	display: flex;
	align-items: center;	
}

.header-mes .logo > span{
	margin-left: 20px;
}

.header-mes > span{
	margin: 0 10px;
}

.mes-content{
	align-self: flex-end;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-top: 20px;

	border-bottom: 1px solid black;
}

.calendario{
	max-width: 1400px;
	width: 90%;
	margin: auto;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(auto,max-content);
	grid-gap: 10px;
}

.d1{
	grid-column: 1/2;
}


/* tamaños mayores que 500px actua este código*/
@media (min-width: 500px){
	.calendario{
		grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
	}
	.d1{
		grid-column: 1/2;
	}
	.header-mes{
		font-size: 1.3em;
		flex-wrap: wrap;
	}
	.mes-content{
		width: 100%;
		
	}

}

/* tamaños mayores que 700px actua este código*/
@media (min-width: 1000px){
	.calendario{
		grid-template-columns: repeat(7, minmax(150px,1fr));
	}
	.d1{
		grid-column: 5/6;
	}
	.header-mes{
		font-size: 2em;
	}
}

.patron{
	background-image: linear-gradient(to right top, #cc0099, #ae46bd, #8665d3, #587add, #228adb, #009edf, #00afdd, #00bfd7, #00d9cc, #1deea3, #9afc65, #ffff00);
}


.card-dia{
	border-radius: 15px;
	text-decoration: none;
	position: relative;
	top:0;
	transition: all 0.1s ease-out;

	background-color: #B6B0B0;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49); 
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);

	/*display: flex;
	flex-direction: column;*/

}


.card-dia:hover{
	top:-10px;
}

.card-dia > .dia{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 3em;
    z-index:1;
}

.card-dia-content{
	border-radius: 15px;
	min-height: 100%;
	flex:1;
}

.card-dia-content > img{
	width: 50%;
	height: 50%;
	object-fit: cover;
	margin-top: 5px;
	padding: 10px;
}

.card-dia-content > p{
	margin: 15px 10px;
	text-align: justify;
}