

.content{
	width:100vw;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.item-full{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.materias{
	list-style: none;
	width:100%;
	border: 1px dotted black;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.materias li a{
	border: 2px solid black;
	text-decoration: none;

	text-align: center;

	border-radius: 10px;

	margin: 10px;

	display: inline-block;

	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.mat{
	display: none;
	width:100%;
	transition: all 0.5s;
}

.mat:hover a{
	background-color: lightgreen;
}

li.mostrar{
	display: inline-block;
}
