
.content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.item-full{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-full h1{
	text-align: center;
	background-color: 
}

.wave{
	z-index: -1;
}

.materias{
	list-style: none;
	width:100%;
	/*border: 1px dotted black;*/
	display:flex;
	flex-direction: column;
	align-items: center;
}

.materias li a{
	background-color: rgba(1,1,1,0.8);

	/*background-color: rgb(255, 215, 0);*/

	color: rgb(255, 215, 0);

	text-decoration: none;

	text-align: center;

	border-radius: 10px;

	margin: 10px;

	padding: 10px 0;

	display: inline-block;

	width: 350px;

	animation-name: gamacolores;
  	animation-duration: 8s;
  	animation-iteration-count: infinite;
}

.materias li:hover a{
	background-color: black;
}


@keyframes gamacolores{
	0%{
		color: #42A5F5;
	}
	50%{
		color: #FFEB3B;
	}
	100%{
		color: #EC407A;
	}
}