@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Nerko One', cursive;
	background-image: url("../img/fondo_2.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh; 

}

header{
	position: fixed;
	z-index: 10;
	top:0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*flex: 1 1 100%;*/

	width: 100%;


	/*background-color: lightcoral;*/

	/*border-radius: 0 0 0 30px;*/
}

h1{
	font-family: 'Balsamiq Sans', cursive;
}

h3{
	text-align: center;
}

.logo{
	border-radius: 5px;
	padding: 5px;
}

.logo-titulo{
	display:flex;
	padding: 10px;
}

.caja-busqueda{
	border-radius: 5px;
	margin-bottom: 10px;
}

#celdas-eac{
	width:100vw;
	position: absolute;
	top: 102px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
	/*padding: 10px;*/


}

.item{
	flex: 1 1 30%;

	border: 1px #ccc solid;

	border-radius: 5px;

	box-shadow: 1px 2px 4px rgba(0,0,0,0.3);

	padding: 10px;

	margin: 5px;

	position:relative;

	background-color: rgba(255,255,255,0.8);
	background-color: rgba(1,1,1,0.8);

	color: rgba(255,255,255,0.8);
}

.item a{
	color: rgba(255,255,255,0.8);
}

.item img{
	position:absolute;
	top: 0;
	right:0;

}

.item hr{
	width:10%;
	transition: width 0.5s ease;
}

.item a{
	text-decoration: none;
}

.hr-rosa{
	color: #DB0080;
}

.hr-azul{
	color: #019CDF;
}

.hr-amarillo{
	color: #FFF001;
}

.item:hover hr{
	width:60%;
}

.item:hover{
	animation: tiembla 0.2s 1;
}

@-webkit-keyframes tiembla{
  0%  { -webkit-transform:rotateZ(-5deg); }
  50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
  100%{ -webkit-transform:rotateZ( 5deg); }
}

footer{
	/* para que sea una barra fija*/
	position:fixed;

	/*para que el fondo no pase por encima y la barra siempre esté delante de todo*/
	z-index: 10;

	/* para que se ajuste al fondo de cada pantalla*/
	bottom: 0vh;

	width: 100vw;
}

footer ul{
	display: flex;
	justify-content: space-around;
	align-items: center;

	list-style: none;
}

footer ul li{
	flex: 1 1 50%;

	text-align: center;

	background-color: rgba(1,1,1,0.8);




	border-right: 1px dotted grey; 
}

footer ul li:last-child{
	border-right: 0;
}

footer ul li:hover{
	cursor: pointer;
}

footer ul li a{
	text-decoration: none;
	color: white;

	/* FLEX */
	display: flex;
	flex-direction: column;

	align-items: center;

	justify-content: center;
}

footer ul li a:hover{
	background-color: black;
}

footer ul li img{
	transform: rotate(-90deg);
}

