*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 100vh;
    background: url("../imagenes/fondoverdee.jpg") no-repeat;
    box-shadow: 0 0 15px #000;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}

h2{
  font-family: monospace;
  color:black;
  font-size: 2.8rem;
}

h3{

  background-color:#5CACB7;
  font-family: monospace;
  color: white;

  /*transform: translateY(-40px);*/

  position: relative;
  top: -11px;
}



.arbolhojas{
    width: 0;
    height: 75px;
    position: absolute;
    left: 950px;
    top: 10px;
    background-image: url("../imagenes/arbolhojas.png");
    background-repeat:  no-repeat;
    background-position:  0 0;
    z-index: 20;
}
 
.arbolhojas:hover{
  transform: rotate(3deg);
}

.arbolave{
/*    position:absolute;
    margin-left: 66%;
    margin-top: 18%;*/
    width: 300px;
    transition: all 0.5s ease-out;
}

.arbolave:hover{
  transform: rotate(3deg);
}

.pensando{
    position:absolute;
    margin-top: 32%;
    margin-left: 23%;
    height: 200px;

    animation-name: movpensando;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
}

.paseando{
    height: 250px;    
}

.paseando:hover{
   transform: translateX(-22%);  
   transition: all 1s ease;
}


.bicicleta{ 
    height: 190px; 
}

.bicicleta{
    animation-name: movbicicleta;
    animation-duration: 15s;
    animation-iteration-count: infinite;    
}


.bicicleta:hover{
   transform: rotate(8deg);
}


/*en el border radius el primer valor se aplica a la esquina superior izquierda,
 el segundo valor se aplica a las esquinas superior derecha e inferior izquierda 
 y el tercer valor se aplica a la esquina inferior derecha):

*/



.ideas{
  position:absolute;
  border-radius: 20px 20px 20px 20px; 
  margin-top: 30%;
  margin-left: 26%;

}


.ideas:hover{
  padding: 8px;
  box-shadow: -1px 2px 27px 11px white;
  transition: all 0.2s ease;
}

.ideas{
    animation-name: movideas;
    animation-duration: 5s;
    animation-iteration-count: infinite;    
}



.hojas{
  position: absolute;
  top: 0;
  left: 0;
  right: -53%;
  bottom: 0;
  margin: auto;
  width: 6%;
}



.pajaro{
  height:50px;
  position: absolute;
  top: 44%;
  left: 70%;
}

.pajaro{
    animation-name: movpajaro;
    animation-duration: 15s;  
  }


/*animaciones*/

@keyframes movbicicleta{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}


@keyframes movpensando{

 0% {
    transform :rotate(0deg);
  }

25% {
   transform :rotate(-8deg);
  }

50%{
  transform :rotate(0deg);
}

75%{
  transform :rotate(-8deg);
}


100% {
   transform :rotate(0deg);
  }

}


@keyframes movideas{

 0% {
     transform :translateY(0);
     opacity: 0;
  }

15%{
  transform :translateY(0);
  opacity: 0;
}

25% {
   transform :translateY(-44px);
   opacity: 1;
  }

75%{
  opacity:1;
}


100% {
   transform :translateY(-88px);
   opacity: 0;
  }

}


@keyframes movpajaro{

 0% {
    position: absolute;
    top: 44%;
    left: 70%;
    opacity: 0;
  }

18%{
  position: absolute;
  top: 44%;
  left: 70%;
  opacity: 1;
  transform: rotate(22deg);
}



23% {
   transform: translate(0px,0px);
   opacity: 1;
  }


50%{
   transform: translate(450px,-550px);
   opacity: 1;
 }


100%{
  transform: translate(450px,-550px);
  opacity: 0;
  }

}