 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

/*THIS IS THE HOLDING CONTAINER*/
.container{
  /*propiedades flex*/
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.card_coche{
  background: url('../img/auto.png');
  padding:  20px;
  width: 540px;
  height: 320px;
  background-size: cover;
  border-radius: 32px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.card_moto{
  background: url('../img/vespa.png');
  padding:  20px;
  width: 540px;
  height: 320px;
  background-size: cover;
  border-radius: 32px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}


/*THIS IS THE INTERNAL CONTAINER THAT SHOWS ON HOVER*/
.cardhover{
  width: 100%;
  height: 100%;
  padding: 24px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  opacity: 0;
  border-radius: 32px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
  box-sizing: border-box;
}


/*THIS IS THE MAIN LINE OF CODE THAT TARGETS THE INTERNAL CONTAINER*/
.card_coche:hover .cardhover, .card_moto:hover .cardhover{
  opacity: 1;
  transform: scale(1.03);
}




/*.container:hover{
  transform: scale(1.03);
}
*/
